# Dependency directories
node_modules/
/dist
/build

# Next.js build output
.next/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
.env.local

# IDEs and Editors
.history/
.vscode/*
!.vscode/settings.json
.idea/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db